/*.background {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}*/

body {
  font-family: 'chivo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #f40004;
  cursor: url("../images/pokeball-cursor.png"), auto;
}

.background-image {
  height: 100%;
  width: 100%;
  background: url("../images/pokemon-hd.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow-y: scroll;
  overflow-x: scroll;
  }

hr {
  max-width: 500px;
  }

.page-header {
  font-size: 45px;
  text-align: center;
  padding-left: 38px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  }


  #searchInput{
    width: 244px;
    height: 41px;
    border: 2px solid #f40004;
    border-radius: 15px;
    background-color: transparent;
    color: #f40004;
    margin-left: 765px;
  }

  #pokemon-list {
    text-align: center;
    padding-top: 12px;
    font-size: 35px;
    list-style-type: none;
  }
.pokemon_name {
  width: 15%;
  -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
  -webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	box-shadow: 3px 4px 10px  #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:2px solid #0a0a0a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'chivo';
	font-size:30px;
	padding:4px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  transition: all 0.3s ease 0s;
}
.pokemon_name:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
.pokemon_name:active {
	position:relative;
	top:1px;
}
/*.pokemon_name {
  width: 15%;
  padding: 1px 1px 1px 1px;
  margin: 10px 0px 0px 0px;
  background-color: transparent;
  border-radius: 5px 5px 5px 5px;
  color: #f40004;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}*/
