/*.background {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}*/

body {
  font-family: 'chivo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #f40004;
}

.background-image {
  height: 100%;
  width: 100%;
  background: url("../images/pokemon-go-13-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  overflow-y: scroll;
  overflow-x: scroll;
}



.page-header {
  font-size: 45px;
  text-align: center;
  padding-left: 125px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  }

  #searchInput{
    width: 238px;
    height: 40px;
    border: 2px solid #f40004;
    background-color: transparent;
    color: black;
    margin-left: 815px;
  }

#pokemon-list {
  text-align: center;
  padding-left: 125px;
  padding-top: 12px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-size: 30px;
  list-style-type: none;
}

.pokemon_name {
  width: 15%;
  padding: 1px 1px 1px 1px;
  margin: 10px 0px 10px 690px;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  text-align: left;

}

.pokemon_name--button {
  cursor: url("../images/pokeball-cursor.png"), auto;
}
